@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

body {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	background-color: #f3f5f8;
	font-family: "Inter", serif;
}

header {
	display: flex;
	align-items: center;
	padding: 15px;
}

#active {
	color: #335cff;
	background-color: #ebf1ff;
}

#notes {
	position: relative;
	display: flex;
	flex-direction: column-reverse;
}

.footer-btn {
	font-size: 24px;
	display: flex;
	align-items: center;
	justify-content: space-around;
}

hr {
	border: none;
	background-color: #e0e4ea;
	height: 2px;
}

main {
	height: 85vh;
	overflow-y: scroll;
	background-color: #fff;
	border-radius: 8px 8px 0 0;
}

main::-webkit-scrollbar{
	display: none;
}

.footer-btn a span {
	padding: 5px 15px;
	border-radius: 5px;
}
.note-maker-header {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

#note-name {
	border: #ebf1ff 2px solid;
	border-radius: 8px;
	padding: 10px;
	width: 80%;
}

#note-maker {
	display: none;
}

#add {
	border: none;
	background-color: #335cff;
	border-radius: 727px;
	padding: 25px;
	width: fit-content;
	color: #fff;
	position: absolute;
	bottom: 125px;
	right: 50px;
}

button,
a {
	cursor: pointer;
}

main {
	padding: 16px;
}

.containerDiv {
	display: flex;
	gap: 8px;
}

.newDiv h2{
	line-break: normal;
}

.tags{
	background-color: #E0E4EA;
	border-radius: 8px;
	padding: 6px;

}

footer{
	position: sticky;
	background-color: #fff;
	box-shadow: 0px -4px 6px 0px #F0F0F099;

}
